@import "./colors";
@import "./mixins";

.projects {
  @include flex-center(center, center, column);
  min-height: 100vh;
  margin: 4rem 0;

  .projects-wrapper {
    @include flex-center(center, center, row);
    flex-wrap: wrap;
    width: 100%;
  }

  .project-box {
    width: 330px;
    height: 480px;
    border: 2px solid $main-color;
    margin: 0 1.5rem 1.5rem 1.5rem;
    padding: 1rem;
    border-radius: 10px;

    img {
      display: block;
      margin: auto;
      width: 300px;
      height: 220px;
      border-radius: 5px;
    }

    .tags {
      ul {
        margin: 1rem 0;
        font-size: 10px;
        @include flex-center(center, flex-start, row);
        flex-wrap: wrap;
        gap: 8px;

        li {
          background-color: $db-color;
          border: 1px solid $main-color;
          padding: 3px 4px;
          border-radius: 9px;
        }
      }
    }

    .project-content {
      p {
        margin: 5px 0;
        font-size: 0.8rem;
        color: rgba(177, 178, 179, 0.8);
      }

      button {
        background: $bg-color;
        color: #ccc;
        border: 2px solid $main-color;
        padding: 4px 8px;
        border-radius: 5px;

        &:hover {
          cursor: pointer;
          background: rgba(18, 119, 196, 0.338);
        }
      }
    }
  }
}

//   .projects-wrapper {
//     @include flex-center(center, space-between, row);
//     flex-wrap: wrap;
//     width: 100%;
//     margin-top: 2rem;

//     .project-box {
//       position: relative;

//       img {
//         width: 300px;
//         height: 300px;
//         border-radius: 6px;
//       }

//       .project-content {
//         position: absolute;
//         height: 100%;
//         top: 0;
//         left: 0;
//         font-size: 1.5rem;
//         text-align: center;
//         padding: 2rem;
//         opacity: 0;
//         transition: 0.3s;

//         &:hover {
//           opacity: 1;
//           background: linear-gradient(rgba(0, 0, 0, 0.6), $main-color);
//           border-radius: 6px;
//         }

//         p {
//           font-size: 1.2rem;
//           margin: 0.8rem 0;
//         }

//         .bx {
//           font-size: 2rem;
//         }
//       }
//     }
//   }
// }

// @media (max-width: 1280px) {
//   .projects {
//     padding: 9% 9%;

//     .projects-wrapper {
//       .project-box {
//         img {
//           width: 250px;
//           height: 250px;
//         }
//       }
//     }
//   }
// }

// @media (max-width: 1023px) {
//   .projects {
//     .projects-wrapper {
//       @include flex-center(center, space-around, row);
//       gap: 5rem;
//     }
//   }
// }

// @media (max-width: 960px) {
//   .projects {
//     .projects-wrapper {
//       .project-box {
//         img {
//           width: 200px;
//           height: 200px;
//         }
//       }
//     }
//   }
// }
